body{
  background-color: #282c34;
}

.main{
  position: relative;
  top: 10vh;
}

#urlInput {
  width: 80%;
  margin: auto;
}



.source-code-container{
  height: 800px;
  width: 800px;
  overflow: auto;
  /* background: white; */
  color: black;
}

.source-code-text{
  white-space: pre;
  text-align: left;
}

.highlighted {
  background-color: red;
}