body{
  background-color: #282c34;
  height: 100vh;
}

#root {
  height: 100%;
}

.App{
  height: 100%;
}

.main{
  position: relative;
  height: 100%;
}

.search-form {
  position: relative;
  top: 40vh;
}

#urlInput {
  width: 80%;
  margin: auto;
}

.result{
  height: 90vh;
}

.tags-container {
  height: 100%;
  overflow-y: auto;
}

.source-code-container{
  height: 100%;
  overflow: auto;
  background: white;
  color: black;
  border: 3px solid red;
  border-radius: 10px;
}

.source-code-text{
  white-space: pre-wrap;
  text-align: left;
  overflow-wrap: break-word;
}

.highlighted {
  background-color: red;
}